#body{
    height: 100%;
    text-align: center;
}


#main{
    width: 100%;
    height: 100%;
    max-height: 650px;
    min-height: 600px;
    margin: 0 auto;
    background-color:rgb(0, 0, 0);
    text-align: center;
}

#title{
    position: relative;
    margin: auto;
    width: auto;
    height: 50px;
    top: 10px;
}

#tipsfont{
    position: relative;
    margin: auto;
    width: 80%;
    height: 50px;
    text-align: center;

    top: 30px;
    left: 40px;
}
#tipsImg{
    position: relative;
    margin: auto;
    left: -5px;
    top: -5px;
    height: 65px;
}

#box{
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: 200px;
    left: 50px;
    bottom: 430px;
}

#DrawArea{
    position: relative;
    margin: auto;
    width: 350px;
    height: 500px;
    top: 50px;
    left: 0;
}

#restart{
    position: relative;
    
}

@font-face {
    font-family: afont;
    src: url(../font/锐字真言体.ttf);
}