#body{
    height: 100%;
    text-align: center;
}

#index{
    width: 100%;
    height: 100%;
    max-height: 650px;
    min-height: 600px;
    margin: 0 auto;
    background: url(./img/paimeng.png) no-repeat center;
    background-color: rgb(0, 0, 0);/*rgb(27, 19, 29)*/
    text-align: center;
}

#startbutton{
    width: 80px;
    height: 40px;
    position: relative;
    margin: auto;
    left: 0;
    top: 400px;
    right: 0;
}

#title{
    position: relative;
    top: 50px;
}


@font-face {
    font-family: afont;
    src: url(./font/锐字真言体.ttf);
}